@defaultFontFamily: Roboto, Helvetica, Tahoma, sans-serif;
@defaultFontSize: 12px;
@defaultLineHeight: normal;
@defaultFont: ~'@{defaultFontSize}/@{defaultLineHeight} @{defaultFontFamily}';

@textColor: #000000;
@brandColor: #006D9C;
@infoColor: #aaaaaa;
@controlColor: #999999;
@controlHoverColor: #666666;
@controlActiveColor: #248BB7;
@markColor: #ffff00;
@componentBorderColor: #bbbbbb;
@oddItemBackgroundColor: #f5f5f5;
@evenItemBackgroundColor: #ffffff;
@errorItemBackgroundColor: #ffeae6;
@hoverItemBackgroundColor: #e6f0f8;
@changedItemBackgroundColor: #ffe4c4;

