@brandColor: #006D9C;
@textColor: #000000;
@infoColor: #aaaaaa;
@controlColor: #999999;
@controlHoverColor: #666666;
@markColor: #ffff00;
@componentBorderColor: #bbbbbb;

@defaultFontFamily: Roboto, Helvetica, Tahoma, sans-serif;
@defaultFontSize: 12px;
@defaultLineHeight: normal;
@defaultFont: ~'@{defaultFontSize}/@{defaultLineHeight} @{defaultFontFamily}';

