/* 62.5% of 16px = 10px */
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(../fonts/roboto-regular-v15.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'), local('Roboto-Thin'), url(../fonts/roboto-thin-v15.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
html {
  font-size: 62.5%;
}
body {
  margin: 0;
  padding: 1rem 1rem 0 1rem;
  min-width: 24rem;
  font: 1.2em/1.4em Roboto, Helvetica, Tahoma, sans-serif;
  color: #666;
  background: #fefefe;
  overflow-x: hidden;
}
header {
  color: #006d9c;
}
header,
p {
  margin: 0 0 1rem;
}
h1 {
  margin: -1rem -1rem 0.3rem -1rem;
  padding: 1rem;
  color: #fff;
  font-size: 2rem;
  font-weight: normal;
  line-height: 1.2em;
  background: #006d9c;
  text-transform: lowercase;
}
h1 span {
  font-weight: 100;
}
a,
a:active,
a:focus {
  color: #006d9c;
}
kbd {
  display: inline-block;
  padding: 0px .3rem;
  border: 1px solid #ddd;
  background: #eee;
  white-space: nowrap;
  font-size: 1.2rem;
  line-height: 1.4em;
}
