@import 'theme/default.css';

/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(../fonts/roboto-regular-v15.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'), local('Roboto-Thin'), url(../fonts/roboto-thin-v15.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

body {
  margin: 0;
  padding: 0 0.75rem;
  min-width: 16rem;
  font: var(--default-font);
  color: #666;
  background: #fefefe;
  overflow-x: hidden;
}

header {
  color: var(--brand-color);
}

header,
p {
  margin: 0 0 0.75rem;
}

h1 {
  margin: 0 -0.75rem 0.5rem;
  padding: 0.75rem;
  color: #fff;
  font-size: 1.25rem;
  font-weight: normal;
  background: var(--brand-color);
  text-transform: lowercase;

  span {
    font-weight: 100;
  }
}

a,
a:active,
a:focus {
  color: var(--brand-color);
}

kbd {
  display: inline-block;
  padding: 0px 0.3rem;
  border: 1px solid #ddd;
  background: #eee;
  white-space: nowrap;
  line-height: var(--default-line-height);
}
