:root {
  --default-font-family: Roboto, Helvetica, Tahoma, sans-serif;
  --default-font-size: 0.75rem;
  --default-line-height: normal;
  --default-font: var(--default-font-size)/var(--default-line-height) var(--default-font-family);

  --background-color: #ffffff;

  --brand-color: #006d9c;
  --text-color: #000000;
  --link-color: #006d9c;
  --mark-color: #ffff00;
  --warning-color: #FF9d4c;
  --text-bold-weight: 700;

  --filter-background-color: #ffffff;
  --filter-border-color: #bbbbbb;
  --filter-shadow-color: #00000033;

  --control-color: #999999;
  --control-hover-color: #666666;
  --control-active-color: #0090ce;

  --attr-name-color: #aaaaaa;
  --attr-value-color: #777777;
  --head-item-background-color: #eeeeee;
  --odd-item-background-color: #f5f5f5;
  --even-item-background-color: #ffffff;
  --warning-item-background-color: #ffdfc8;
  --hover-item-background-color: #e6f0f8;
  --changed-item-background-color: #ffe4c4;


  &.theme-dark {
    --background-color: #252525;

    --brand-color: #006d9c;
    --text-color: #dddddd;
    --link-color: #0090ce;
    --mark-color: #edd100;
    --warning-color: #FF9d4c;
    --text-bold-weight: 600;

    --filter-background-color: #333333;
    --filter-border-color: #505050;
    --filter-shadow-color: #000000;

    --control-color: #999999;
    --control-hover-color: #c0c0c0;
    --control-active-color: #0090ce;

    --attr-name-color: #777777;
    --attr-value-color: #999999;
    --head-item-background-color: #333333;
    --odd-item-background-color: #282828;
    --even-item-background-color: #2b2b2b;
    --warning-item-background-color: #96501f;
    --hover-item-background-color: #3a3a3a;
    --changed-item-background-color: #3a2812;
  }
}